<!DOCTYPE html>
<html>
<head>
	<title>Pannello lezioni</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/css/admin_panel.css">
	<link rel="stylesheet" href="/css/materialize.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="/js/admin_lessons_script.js" type="text/javascript"></script>
</head>
<body>

	<%- include ('bar.ejs') %>

	<div class="container">
	<!-- COLLAPSIBLE -->
	<ul class="collapsible black-text grey lighten-2">
		<li>
			<div class="collapsible-header">
				<i class="material-icons">event_note</i>
				Aggiungi lezioni per un mese
			</div>
			<div class="collapsible-body">
				<div class="input-field">
					<input id="book_assurance" class="validate" type="datetime-local">
				</div>
				<div class="input-field">
					<input id="book_assurance_number" class="validate" type="number" value="8">
					<label for="book_assurance_number">Capienza:</label>
					<button id="book_assurance_btn" class="btn waves-effect waves-light deep-orange darken-3">Crea lezioni</button>
				</div>
			</div>
		</li>
		<li>
			<div class="collapsible-header">
				<i class="material-icons">description</i>
				Aggiungi una singola lezione
			</div>
			<div class="collapsible-body">
				<div class="input-field">
					<input id="book_single" class="validate" type="datetime-local">
				</div>
				<div class="input-field">
					<input id="book_single_number" class="validate" type="number" value="8">
					<label for="book_single_number">Capienza:</label>
					<button id="book_single_btn" class="btn waves-effect waves-light deep-orange darken-3">Crea lezione</button>
				</div>
			</div>
		</li>
	</ul>

	<div class="view-lessons">
		<h4 class="flow-text">In questa sezione vedrai le lezioni già inserite e potrai rimuoverle singolarmente</h4>
		<table class="centered striped">
			<thead class="blue-grey darken-3">
				<tr>
					<th>Giorno</th>
					<th>Ora</th>
					<th>Capienza</th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody class="grey lighten-1">
				<% if (lessons) { %>
				<% for (var i in lessons) { %>
					<tr>
						<td><%= lessons[i].date %></td>
						<td><%= lessons[i].time %></td>
						<td><%= lessons[i].capacity %></td>
						<td><a class="btn waves-effect waves-light modal-trigger deep-orange darken-3" href="#modal<%= lessons[i].id %>"><i class="material-icons">info_outline</i></a></td>
						<td><button id="<%= lessons[i].id %>" class="remove-btn btn waves-effect waves-light deep-orange darken-3"><i class="material-icons">delete</i></button></td>
					</tr>
				<% } %>
				<% } %>
			</tbody>
		</table>
	</div>
	</div>

	<% for(var i in partecipants) { %>
		<div id="modal<%= i.split('_')[1] %>" class="modal black-text">
	    <div class="modal-content">
	      <h4>Partecipanti:</h4>
	      <% for(var j in partecipants[i]) { %>
	      <p><%= partecipants[i][j].name %> <%= partecipants[i][j].surname %></p>
	      <% } %>
	    </div>
  		</div>
	<% } %>

	<%- include ('admin_button.ejs') %>

	<script type="text/javascript" src="/js/materialize.min.js"></script>
</body>
</html>