	<!-- NAVBAR -->
	<div class="navbar-fixed">
		<nav>
	    <div class="nav-wrapper red darken-3">
	    	<a href="#" class="brand-logo center">CrossFit</a>
	    	<a href="#" data-target="mobile-panel" class="sidenav-trigger"><i class="material-icons">menu</i></a>
	    	<ul id="nav-mobile" class="right hide-on-med-and-down">
	    		<li><a href="/dashboard">Dashboard</a></li>
	    		<li><a href="/dashboard/news">Notizie</a></li>
	    		<li><a href="/dashboard/leaderboard">Classifiche</a></li>
	    		<li><a href="/profile/<%= user.id %>">Profilo</a></li>
	    		<li><a href="/dashboard/diary">Diario personale</a></li>
	      </ul>
	    </div>
	  	</nav>
 	</div>

 	<!-- MOBILE SIDE-BAR -->
 	<ul class="sidenav" id="mobile-panel">
 		<li>
 			<div class="user-view">
 				<div class="background">
 					<img src="/images/default.png">
 				</div>
 				<a href="/profile/<%= user.id %>"><img class="circle" src="/images/<%= pic %>"></a>
 				<a><span class="white-text name"><%= user.name %> <%= user.surname %></span></a>
 				<a><span class="white-text email"><%= user.mail %></span></a>
 				<span class="hide id"><%= user.id %></span>
 			</div>
 		</li>
	    <li><a href="/dashboard"><i class="material-icons">dashboard</i>Dashboard</a></li>
		<li><a href="/dashboard/news">
			<i class="material-icons">new_releases</i>
			Notizie
			<% if (news_count) { %> 
				<span class="badge red white-text" data-badge-caption="nuove"><%= news_count %></span>
			<% } %>
		</a></li>
		<li><a href="/dashboard/leaderboard"><i class="material-icons">poll</i>Classifiche</a></li>
		<li><a href="/profile/<%= user.id %>"><i class="material-icons">
		account_circle</i>Profilo</a></li>
		<li><a href="/dashboard/diary"><i class="material-icons">bookmark</i>Diario personale</a></li>
	</ul>