<!DOCTYPE html>
<html lang="it">
<head>
	<title>Profilo di <%= requested.name%> <%= requested.surname%></title>
	<link rel="stylesheet" href="/css/profile_style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="/js/profile_script.js" type="text/javascript"></script>
</head>
<body>
	<img class="profile-picture" src="/images/<%= requested.file_info.name %>.<%= requested.file_info.extension %>" alt="Foto profilo"><br>
	<h2><%= requested.name%> <%= requested.surname%></h2>
	<% if (user.id == requested.id) { %>
		<div id="settings-box">
			<span>Descrizione:</span><br>
			<textarea id="description-area" maxlength="100" placeholder="Inserisci la descrizione (max 100 caratteri) e salva per confermare la modifica"><%= requested.description %></textarea>

			
			<br><span>Carica la foto profilo:</span><br>
			<input id="image-file" type="file" name="profilepic" accept=".jpeg,.jpg,.png">

			<input id="save_file_btn" type="button" value="Carica foto">
			<input id="save_des_btn" type="button" value="Salva la descrizione">
		</div>
	<% } else {%>
		<span><%= requested.description %></span>
	<% } %>
</body>
</html>